:root {
    --fundobody: #f6f6f6;
    --fundoCaixas: #ffffff;
    --botaoEnable: #7898ff;
    --botaoDesable: #747474;
    --links: #0b5ed7;
}

/* Responsividade page login e cadastro */
@media (max-width: 900px) {
    .caixaLeft{
        width: 40%;
    }
    .caixaRight{
        width: 60%;
    }
    .caixaRight .caixaForm{
        width: 75%;
    }
}
@media (max-width: 768px) {
    .wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .caixaLeft{
        width: 100vw;
    }

    .caixaLeft .img {
        width: 20%;
    }

    .caixaRight{
        width: 100vw;
        height: 77%;
    }

    .caixaRight .caixaForm{
        width: 45%;
        height: 100%;
    }

    .wrapperCard .card {
        width: 95vw;
    }

    .wrapperBody .box{
        gap: 20px;    
    }

    .wrapperBody .box .navbar-brand{
        padding: 0;
    }

    .wrapperCard .card .arrumaData {
        flex-direction: column;
        font-size: smaller;
    }
}

@media (max-width: 576px) {
    .wrapper{
        justify-content: center;
        align-items: center;
    }

    .caixaLeft{
        display: none;
    }
    
    .caixaRight{
        width: 100%;
        height: 100%;
    }

    .caixaRight .caixaForm{
        width: 75%;
        height: 80%;
    }

    .linkFooter{
        text-align: center;
    }

    .wrapperCard .card {
        width: 95vw;
    }

    .wrapperBody .box{
        flex-direction: column;
        gap: 20px;    
    }

    .wrapperBody .box .navbar-brand{
        padding: 0;
    }

    .wrapperCard .card .arrumaData {
        flex-direction: column;
        font-size: smaller;
    }
}