/* imports */
@import url(./_global.css);

/* 1. Zerando estilização padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 2. Estilização do body */
.wrapperBody{
    background-color: var(--fundobody);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 3. Estilização da navbar */
.wrapperBody .box{
    width: 100%;
    padding: 20px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon{
    width: 25%;
}

.wrapperBody .box .navbar-brand{
    margin: 0;
    color: white;
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 0.4125rem;
}

.titleNavbar{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100px;
}

.wrapperBody .box .iconeTitulo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.wrapperBody .box #nomeUsuario{
    display: flex;
    align-items: center;
}

.wrapperBody .box #nomeUsuario h1 {
    margin: 0;
    color: white;
}

/* 4. Estilização card tarefas */

.wrapperCard{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.wrapperCard .card{
    width: 65vw;
}

/* 4.1 Estilização cabeçalho card */
.wrapperCard .card .card-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapperCard .card .card-header .inputAdiciona{
    display: flex;
    gap: 10px;    
}


/* 4.2 Estilização corpo card e as tarefas PENDENTES */
.wrapperCard .card .list-group-item{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 5px 0 5px 0;
}

div ul li .btn-outline-primary {
    padding: 3px;
    border-radius: 15%;
    display: flex;
}

div ul li .btn-outline-danger {
    cursor: pointer;
    padding: 3px;
    border-radius: 15%;
    display: flex;
}

.wrapperCard .card .itemBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    gap: 10px;
    font-size: large;
    align-items: center;
}

.wrapperCard .card .arrumaData{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.wrapperCard .card .arrumaData p{
    margin: 0;
}

.wrapperCard .card .itemBox p{
    margin: 0;
    text-align: justify;
}

.delete{
    cursor: pointer;
    align-self: baseline;
    align-self: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* 4.3 Estilização corpo card e as tarefas CONCLUÍDAS */
div #completasTasks li div{
    text-decoration-line: line-through;
}